---
import LinkedinIcon from "../components/icons/Linkedin.astro"
import Github from "./icons/Github.astro"

---

<footer class="rounded-lg shadow-sm m-4 bg-transparent fade-cascade">
  <div class="mx-auto p-4 flex flex-col md:flex-row items-center justify-around gap-4">
    
    <span class="text-sm text-gray-500 dark:text-gray-400 text-center md:text-left">
      © 2025 <a href="#" class="hover:underline">Ivan Plaza Dev</a>
    </span>

    <ul class="flex items-center gap-6 text-sm font-medium text-gray-500 dark:text-gray-400 ">
      <li>
        <a href="https://www.linkedin.com/in/ivan-andres-plaza/" class="hover:underline"><LinkedinIcon class="size-6"/></a>
      </li>
      <li>
        <a href="https://github.com/IvanPlaza44" class="hover:underline"><Github class="size-6"/></a>
      </li>
    </ul>

  </div>
</footer>

