---
import Logo from './icons/Logo.astro';
---

<header class="w-full max-w-6xl mx-auto px-4 py-3 flex flex-col sm:flex-row items-center justify-between border-b-2 border-white gap-4">
  <Logo />

  <nav class="flex flex-wrap justify-center sm:justify-end gap-6">
    <a href="#experiencia" class="text-white text-lg font-medium hover:text-blue-500 transition-all duration-200">Experiencia</a>
    <a href="#proyectos" class="text-white text-lg font-medium hover:text-blue-500 transition-all duration-200">Proyectos</a>
    <a href="#tecnologias" class="text-white text-lg font-medium hover:text-blue-500 transition-all duration-200">Tecnologías</a>
  </nav>
</header>

