<h1 class="text-3xl sm:text-4xl font-bold text-center mb-10">Proyectos</h1>

<section id="proyectos" class="px-4 sm:px-6 lg:px-8 py-10">
  <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 justify-items-center mg-4 gap-6">
    
    <!-- Proyecto 1 -->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <a href="https://www.huntek.com/">
        <img class="w-full h-48 sm:h-52 object-cover rounded-t-lg" src="/huntek.png" alt="Huntek" />
      </a>
      <div class="p-5">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Huntek</h5>
        <p class="mb-4 text-gray-700 dark:text-gray-400">
          Huntek es una plataforma que busca emparejar a candidatos con oportunidades laborales ideales, tanto para empresas como para personas. Ofrece seguimiento y respuesta en todos los "match" realizados.
        </p>
        <a href="https://www.huntek.com/" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Visitar
          <svg class="w-4 h-4 ms-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 14 10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>

    <!-- Proyecto 2 -->
    <div class="max-w-xs bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <a href="https://tres-en-raya-git-main-ivanplaza44.vercel.app/">
        <img class="w-full h-48 sm:h-52 object-cover rounded-t-lg" src="/tres.png" alt="Tres en Raya" />
      </a>
      <div class="p-5">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">Tres en Raya</h5>
        <p class="mb-4 text-gray-700 dark:text-gray-400">
          Tres en Raya es una versión digital del clásico juego de estrategia para dos jugadores. Fue desarrollado con tecnologías web modernas para brindar una experiencia simple y atractiva.
        </p>
        <a href="https://tres-en-raya-git-main-ivanplaza44.vercel.app/" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Visitar
          <svg class="w-4 h-4 ms-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 14 10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>

  </div>
</section>
