---
import Badge from "./Badge.astro"
import LinkedinIcon from "../components/icons/Linkedin.astro"
import SocialPill from "../components/SocialPill.astro"
import Github from "./icons/Github.astro"
import Mail from "./icons/Mail.astro"
---

    <main id="Resumen" class="flex flex-col-reverse lg:flex-row items-center justify-between gap-8 px-4 py-10 max-w-6xl mx-auto">

        <div class="w-full mx-auto lg:w-[740px] py-10">
            <h1 class="text-5xl font-bold">Hey &lt;Coders/&gt;, soy <span class="text-blue-500/90">Ivan Plaza </span></h1>
            <div class="mb-5 mt-2">
                <Badge>Disponible para trabajar</Badge>
            </div> 

            <h2 class="text-lg sm:text-xl leading-relaxed text-center">
                <span class="text-yellow-500/90">
                    Desarrollador Full Stack especializado en Front-end y Back-end,
                </span>
                <span>
                    con habilidades creativas y trabajo en equipo destacados. Amplia experiencia en tecnologías y frameworks, dispuesto a aprender y enfrentar nuevos desafíos.
                </span>

            </h2>
        </div>

        
    </main>

    <nav class="mb-10 flex flex-wrap justify-center gap-4 px-4">
        <SocialPill href="https://www.linkedin.com/in/ivan-andres-plaza/">  
            <LinkedinIcon class="size-6"/>
            Linkedin  
        </SocialPill>
        <SocialPill href="https://github.com/IvanPlaza44">  
            <Github class="size-6"/>
            GitHub  
        </SocialPill>
        <SocialPill href="mailto:plazaivanalt@gmail.com">  
            <Mail class="size-6"/>
            plazaivanalt@gmail.com 
        </SocialPill>
    </nav>

    <div id="avatar" class="relative mx-auto w-full max-w-[400px]">
        <img id="img1" src="/avatar.png" alt="avatar" class="w-full max-w-[400px]">
        <img id="img2" src="/avatar.png" alt="avatar" class="w-full max-w-[400px]">
    </div>

    <style>
        #img1 {
            animation: floating 3s ease-in-out infinite;
        }

        #img2 {
            animation: floating 3s ease-in-out infinite;
            position: absolute;
            inset: 0;
            filter: blur(10px);
            z-index: -1;
        }

        @keyframes floating{
            0% {
                transform: translateY(-20px);
            }
            50% {
                transform: translateY(0px);
            }
            100% {
                transform: translateY(-20px);
            }
        }

        @keyframes show{
		from{
			opacity: 0;
			scale: 30%;
		}
		to{
			opacity: 1;
			scale: 100%;
		}
	}
	#avatar{
			view-timeline-name: --image;
			view-timeline-axis: block;
			animation-timeline: --image; 
			animation-name: show;
			animation-range: entry 25% cover 50%;
			animation-fill-mode: both;
		}

        
        
    </style>
