
<ol class="relative border-s border-gray-200 dark:border-gray-700 max-w-4xl mx-auto">                  
    <li class="mb-10 ms-4">
        <img id="huntek" src="https://www.huntek.com/assets/huntek-c55aab9b.svg" alt="H" class="w-12 h-12 active">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none">Julio. 2022</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Huntek - Desarrollador Back-end</h3>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Ciudad de Mexico</time>
        <p class="mb-4 text-base font-normal text-gray-400 dark:text-gray-400] text-pretty">Diseñar y desarrollar una aplicación que tenga como principal objetivo agilizar y mejorar la conexión entre postulantes profesionales que deseen encontrar un empleo y empresas que se encuentran con vacantes disponibles.</p>
        <a href="https://www.huntek.com/" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Ver mas 
        <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg></a>
    </li>
    <li class="mb-10 ms-4">
        <img id="huntek" src="https://media.licdn.com/dms/image/v2/C4D0BAQG6fJDrblcY9A/company-logo_200_200/company-logo_200_200/0/1656698101589/henryok_logo?e=1753315200&v=beta&t=Wj95T1_rI9Wi9C0-SySHgQCznOT0nYLbIDoRHtPdq-c" alt="H" class="w-12 h-12 active">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-300">Mayo. 2023</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Soy Henry - Desarrollador Full Stack (Académico)</h3>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Buenos Aires</time>
        <p class="text-base font-normal text-gray-400 dark:text-gray-400text-pretty ">Diseñar y Desarrollar una SPA (Single Page Application) utilizando React ,Redux y CSS Modules para el Front y Back desarrollado en Node.js con Express, base de datos PostgreSQL y Sequelize, a través de una API, con las funcionalidades de búsquedas, ordenamientos, filtros y formulario controlado para la creación de recetas de comida.</p>
    </li>
    <li class="mb-10 ms-4">
        <img id="huntek" src="https://media.licdn.com/dms/image/v2/C4D0BAQH47RGjDD7AwQ/company-logo_200_200/company-logo_200_200/0/1640272006358/coderhouse_logo?e=1753315200&v=beta&t=BS3SgvCzJhz9bhRvhKjeInuN6xpHlIXJCxniXeghnpM" alt="H" class="w-12 h-12 active">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Septiembre. 2022</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CoderHouse - Desarrollador Python (Académico)</h3>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Buenos Aires</time>
        <p class="text-base font-normal text-gray-400 dark:text-gray-400 text-pretty">Desarrollar una App que funcione como un pequeño Blog utilizando las tecnologías de Python, GitHub, SQLite y Django el cual tendrá las funcionalidades de registro y Loguin de usuario para poder acceder y hacer uso de este. Que tenga la posibilidad de crear y editar un perfil de usuario, además podrá hacer uso de un formulario controlado para realizar posteos sobre Video Juegos, asimismo visualizar posteos de otros usuarios y poder realizar búsqueda y ordenamientos.</p>
    </li>
    <li class="mb-10 ms-4">
        <img id="huntek" src="https://media.licdn.com/dms/image/v2/C4D0BAQH47RGjDD7AwQ/company-logo_200_200/company-logo_200_200/0/1640272006358/coderhouse_logo?e=1753315200&v=beta&t=BS3SgvCzJhz9bhRvhKjeInuN6xpHlIXJCxniXeghnpM" alt="H" class="w-12 h-12 active">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Abril. 2022</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">CoderHouse - Software Tester QA (Académico)</h3>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Buenos Aires</time>
        <p class="text-base font-normal text-gray-400 dark:text-gray-400 text-pretty">Implementar pruebas manuales de software sobre una pagina web que se encuentra en producción, elaborando casos de pruebas planificados en tres secciones distintas del sitio web, implementando búsqueda de Bugs sobre el funcionamiento de este, luego creando un formulario ordenado de reportes de errores con todo lo necesario y detallado para comunicarlo al equipo de desarrollo, como lo son resultados esperados, prioridad del Bug, objetivos, evidencias, entre otros y de esta manera poder mejorar la experiencia del Usuario.</p>
    </li>
</ol>




